@using Microsoft.Graph
@model theIntranet.Models.ProfileModel


@{
    ViewData["Title"] = "Profile";
    ViewBag.Current = "Profile";
}

<h1>My profile</h1>

<div class="card  mt-5" style="width: 18rem;">
  <img src="./images/user.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@Model.DisplayName</h5>
    <p class="card-text">Some info about you</p>
  </div>
  
  <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: @Model.Id</li>
      <li class="list-group-item">Job title: @Model.JobTitle</li>
      <li class="list-group-item">Mail: @Model.Mail</li>
      <li class="list-group-item">Office location: @Model.OfficeLocation</li>
    </ul>
  
</div>

@{
    

}